.App {
  margin: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 20px, repeat(2, 350px);
  grid-gap: 10px;
  
}

video {
  width: 350px;
  height: 350px;
}